// 在 Common.scss 中编写的样式被全局引入（例如通过 main.js 或其他全局入口文件导入），那么这些样式会全局生效。
// 重置样式

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  
}
a {
  text-decoration: none;
  padding: 0;
  color: black;
  font-weight: 400;
}
body {
  background-color: rgb(232, 230, 230);
}
li {
  list-style: none;

}